.version.index /* version checker */
{
	color: #0000EE;
	background-color: #93E3B8;
}

.html
{
	background-color: #000000;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#000000 ,#FFFFFF 100%);
	background: linear-gradient(to right,#000000 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FFFFFFFF', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 675px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 308px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	height: 86px;
	background: -webkit-gradient(linear, left center, right center, from(#490029),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#490029 ,#000000 100%);
	background: linear-gradient(to right,#490029 ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF490029, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF490029', endColorstr='#FF000000', GradientType=1)";
	position: fixed;
	top: 0px;
	background-size: 100% auto;
}

#u75-bw
{
	z-index: 2;
}

#pbuttonu76
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 145px;
	margin-left: 233px;
}

#buttonu76
{
	z-index: 3;
	width: 437px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#buttonu76:hover
{
	background-color: #41001E;
	width: 437px;
	min-height: 0px;
	margin: 0px;
}

#buttonu76.ButtonSelected
{
	background-color: transparent;
	width: 437px;
	min-height: 0px;
	margin: 0px;
}

#u82
{
	z-index: 4;
	width: 437px;
	border-color: #000000;
	padding-bottom: 87px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/livohub-slider-u82-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu76:hover #u82
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/livohub-slider-u82-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu76.ButtonSelected #u82
{
	width: 437px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/livohub-slider-u82-fr.png") no-repeat center center;
	background-size: cover;
}

#u77-6
{
	z-index: 5;
	width: 377px;
	min-height: 134px;
	background-color: transparent;
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
}

#buttonu76:hover #u77-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 377px;
	margin: 10px -10000px 0px 0px;
}

#buttonu76.ButtonSelected #u77-6
{
	opacity: 0.62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62)";
	filter: alpha(opacity=62);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 377px;
	margin: 10px -10000px 0px 0px;
}

#buttonu76:hover #u77-6 p,#buttonu76:hover #u77-6 span
{
	padding-top: 30px;
}

#buttonu76.ButtonSelected #u77-6 p,#buttonu76.ButtonSelected #u77-6 span
{
	padding-top: 50px;
}

#u77
{
	font-size: 1px;
	line-height: 0px;
}

#u78:hover
{
	min-height: 0px;
	margin: 0px;
}

#u79
{
	z-index: 12;
	height: 48px;
	width: 351px;
	background: url("../images/u79_states.png") no-repeat 0px 0px;
}

#u79_states
{
	min-height: 48px;
	min-width: 351px;
	vertical-align: top;
}

#u79:hover #u79_states
{
	height: 48px;
	width: 351px;
	background: url("../images/u79_states-r.png") no-repeat 0px 0px;
}

#u78 #u79:hover #u79_states
{
	height: 48px;
	width: 351px;
}

#u100
{
	z-index: 16;
	width: 437px;
	height: 231px;
	border-color: #000000;
	margin-left: 6px;
	margin-top: 66px;
	position: relative;
	background: transparent url("../images/livohub-slider-u100-fr.png") no-repeat center center;
	background-size: cover;
}

#u100:hover
{
	width: 437px;
	height: 231px;
	min-height: 0px;
	margin: 66px 0px 0px 6px;
	background: transparent url("../images/livohub-slider-u100-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u92
{
	z-index: 15;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 453px;
	left: 739px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

